@font-face {
    font-family: AquilaEthnocentric;
    src: url('/font/AquilaEthnocentric.ttf') format('truetype');
}

@font-face {
    font-family: FontAwesome;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0');
}

.aquilafont {
    font-family: AquilaEthnocentric;
}


body { 
    font-family: sans-serif;
    background-color: #2C3531;
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#headerframe {
    flex: initial;
    width: 100%;
    min-width: 450px;
    border-bottom: 1px solid #116466;
    background: linear-gradient(178deg, #116466, #111111);
    margin-bottom: 5px;
    box-shadow: 0 0 5px #111;
}

#header {    
    display: flex;
    flex-flow: row;
    width: 900px;
    font-size: 250%;
    font-weight: bold;
    color: #D1E8E2;
    margin: auto; 
    text-shadow: 0 0 1px #000, 0 0 5px #D14042, 0 0 10px #ffffff;
}

#header .header-text {
    margin: auto 10px;
    flex: auto;
}

#header .header-button {
    flex: initial;
    font-family: FontAwesome;
    font-size: 70%;
    font-weight: normal;
    color: #D1E8E2;
    text-shadow: 0 0 1px #000, 0 0 5px #D14042, 0 0 10px #ffffff;
    width: 1.2em;
    margin: auto 10px;
    text-align: center;
    vertical-align: center;
    background: linear-gradient(140deg, #003349, #116579);
    border: 2px solid #112523;
    border-radius: 10px;
    box-shadow: 0 0 5px #412025;
    z-index: 20;
}

#headermenu .menu-content {
    top: calc(100% + 10px);
    right: 0px;
    background: linear-gradient(120deg, #002329, #115559);
    border: 2px solid #112523;
    box-shadow: 0 0 2px #000000, 0 0 5px #115559;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}

.menu-button {
    cursor: pointer;
    position: relative;
}

.menu-button .menu-content {
    display: grid;
    white-space: nowrap;
    position: absolute;
    z-index: 15;
    transform: scale(0);
    opacity: 0;
    transition: opacity 400ms ease-out, transform 0ms ease 400ms;
}

@media (pointer: fine) {
.menu-button:hover .menu-content {
    opacity: 0.9;
    transform: none;
    transition: opacity 400ms ease-out;
}
}
.menu-button.visible .menu-content {
    opacity: 0.9;
    transform: none;
    transition: opacity 400ms ease-out;
}

.menu-content .menu-item {
    display: block;
    font-size: 20px;
    font-family: AquilaEthnocentric;
    font-weight: bold;
    text-decoration: none;
    color: #D1E8E2;
    width: 100%;
    text-align: left;
    margin: 0 2px;
    padding: 5px 10px;
    box-shadow: 0 1px 4px #111111;
    transition: all 400ms ease-out;
}

.menu-content .menu-item:hover {
    background-color: rgba(200, 250, 255, 0.3);
}

.menu-content .menu-item.header-menu-admin {
    margin-top: 20px;
    font-size: 50%;
    color: #A1A8A2;
}

#footerframe {
    flex: initial;
    width: 100%;
    min-width: 450px;
    border-top: 1px solid #116466;
    margin-top: 10px;
    background: linear-gradient(-1deg, #116466, #112122, #111111);
    box-shadow: 0 0 5px #111;
}

#footer_logo {
    float: right;
    padding: 0 5px 0 15px;
}

#footer_tagline {
    width: 900px;
    margin: 10px auto;
    font-size: 14px;
    color: #D1E8E2;
    text-align: right;
}

#footer_corp {
    width: 900px;
    margin: 10px auto;
    color: #D1E8E2;
    text-align: right;
    font-size: 10px;
}

@keyframes spinlogo {
    0% { transform: rotateY(90deg); }
    100% { transform: rotateY(-90deg);}
}

#footer_logo {
    padding: 0 20px;
    perspective: 200px;
    overflow: hidden;
}

#footer_logo img {
    animation: spinlogo 3s linear infinite;
}

#main-body {
    width:900px;
    flex: auto;
    position: relative;
    color: #D9B08C;
    background: #262626;
    border: 2px solid #116466;
    margin: auto;
    padding: 0;
    overflow: hidden; 
    overflow-y: auto;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 5px #111;
    scrollbar-color: #114852 transparent;
    scrollbar-width: thin;
}


#roster-list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.roster-entry {
    flex: initial;
    position: relative;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 110px auto;
    border: 1px solid #116466;
    padding: 5px;
    margin: 8px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #10c6de;
    min-height: 120px;
    min-width: 400px;
    background-color: #112233;
    overflow: hidden;
}

.roster-entry.deleted {
    opacity: 0.3;
    background-color: #64140c;
}

.roster-entry > div {
    color: #10c6de;
    text-shadow: 0px 0px 4px #10c6de;
    grid-column: 2;
}

.roster-entry .field-conflict {
    background-color: #403710;
    border: 1px solid #605720;
    border-radius: 5px;
    box-shadow: 0 0 2px #c03730;
    padding: 0 3px;
    cursor: help;
    display: grid;
}

.roster-entry .field-conflict-resolved {
    background-color: #106710;
    border: 1px solid #107720;
    box-shadow: 0 0 2px #30c730;
}

.roster-entry .field-conflict-resolved .field-conflict-save {
    display: none;
}

.field-conflict-save::before {
    content: '\f064';
    font: 20px FontAwesome;
    line-height: 20px;
}

.roster-entry .field-conflict-save {
    grid-row: 1/1000;
    grid-column: 2;
    align-self: center;
    justify-self: right;
    border: 1px solid #083740;
    border-radius: 8px;
    padding: 3px;
    background-color: #106770;
    color: #20b7d0;
    box-shadow: 0 0 4px #a09740;
    cursor: pointer;
}

.field-conflict-choice {
    color: #c0a720;
    text-shadow: 0 0 1px #000, 0 0 5px #f5a478;
}

.field-conflict-choose {
    display: flex;
    flex-flow: row;
}

.field-conflict-choose input[type="radio"] {
    display: none;
}

.field-conflict-choose label {
    flex: auto;
}

.field-conflict-choice:not(.selected) {
    text-decoration: line-through;
    opacity: 0.6;
}

.field-conflict-choose input + label::before {
    content: ' ';
    width: 1em;
    line-height: 100%;
    display: inline-block;
}

.field-conflict-choose input:checked + label::before {
    content: '\2714';
}

.field-conflict-choose input:not(:checked) + label {
    text-decoration: line-through;
    color: #907f10;
    text-shadow: 0 0 1px #000, 0 0 5px #f5a478;
}

.roster-entry > .roster-person-character_image {
    position: relative;
    padding: 0px;
    grid-row: 1/1000;
    grid-column: 1;
    height: 120px;
    width: calc(120px / 1.1547);
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    background: radial-gradient(circle at 50% 0%, #bef 5%, rgba(0,0,0,0) 10%),
        radial-gradient(circle at 100% 75%, #bef 5%, rgba(0,0,0,0) 10%),
        radial-gradient(circle at 0% 75%, #bef 5%, rgba(0,0,0,0) 10%);
}

.roster-entry > .roster-person-character_image::before {
    content: "";
    position: absolute;
    top: calc(1px * 1.1547);
    left: 1px;
    height: calc(100% - 2px * 1.1547);
    width: calc(100% - 2px);
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    background-color: rgba(10,20,30,0.7);
}

.roster-entry > .roster-person-character_image > div {
    position: absolute;
    top: calc(4px * 1.1547);
    left: 4px;
    height: calc(100% - 8px * 1.1547);
    width: calc(100% - 8px);
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    background-color: #abc;
}

.roster-person-character_image img {
    /*
    box-shadow: 0px 0px 3px #10c6ae;
    border: 1px solid #106446;
    border-radius: 20px;
    */
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%);
    max-height: 110%;
    max-width: 120%;
}

.roster-entry > .roster-field-roster_type {
    padding: 0px;
    grid-row: 1/1000;
    grid-column: 1;
    max-width: 100px;
    max-height: 120px;
}

.roster-field-roster_type .field-box {
    box-shadow: 0px 0px 3px #10c6ae;
    border: 1px solid #106446;
    border-radius: 20px;
    margin: 0px;
    display: block;
    height: 100%;
    width: 100%;
    background: radial-gradient(#102420, #154860);
    color: #D1E8E2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roster-entry:not(.editing) .roster-new-field {
    display: none;
}

.roster-field::before {
    font: 80% FontAwesome;
    content: '\f047  ';
}

.roster-field {
    width: calc(100% - 40px);
    margin: 3px 0px 3px 20px;
    border: 1px solid #154860;
    border-radius: 6px;
    padding-left: 3px;
    box-shadow: 0 0 2px #10c6de;
    cursor: pointer;
    position: relative;
    background-color: #112233;
    color: 
}

.roster-entry .field-mandatory {
    font-weight: bolder;
    text-shadow: 0 0 2px #000, 0 0 4px #fff, 0 0 6px #10c6de
}

.roster-field-radiobutton {
    display: none;
}

.roster-field.field-normal .roster-field-radiobutton {
    display: block;
    position: absolute;
    background-color: #111111;
    border: 1px solid #111111;
    box-shadow: 0 0 2px 2px #10c6de;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    top: 4px;
    left: -20px;
}

.ui-sortable-helper {
    color: #10c6de;
    text-shadow: 0px 0px 4px #10c6de;
}
.ui-sortable-helper.field-mandatory {
    font-weight: bolder;
    text-shadow: 0 0 2px #000, 0 0 4px #fff, 0 0 6px #10c6de
}
.ui-sortable-helper.field-remove {
    opacity: 0.7;
    background-color: #442211;
    cursor: no-drop !important;
}
.ui-sortable-helper.field-remove.field-remove-now {
    transform: scale(0);
    transition: all 250ms;
}


.roster-field.field-normal.ui-sortable-helper .roster-field-radiobutton {
    display: none;
}

.roster-field.field-normal.field-mandatory .roster-field-radiobutton {
    background-color: #40d6ee;
    box-shadow: 0 0 2px 2px #10c6de, 0 0 3px 4px #10866e;
}

.field-box .field-text {
    font: 16px AquilaEthnocentric;
    transform: rotate(-55deg);
}

.field-box .field-text input[type="text"] {
    text-align: center;
    font: 16px AquilaEthnocentric;
    width: 7.5em;
    transform: none;
}

.roster-entry > .roster-buttons {
    width: 0px;
    background: linear-gradient(0deg, #116862, #111111);
    border-left: 2px solid #116862;
    position: absolute;
    z-index: 3;
    right: -2px;
    top: 0px;
    bottom: 0px;
    transition: width 400ms ease-out;
    overflow: hidden;
}

.roster-entry:not(.editing):not(.disabled):hover > .roster-buttons {
    width: 52px;
}

body.admin .roster-entry:not(.disabled):hover > .roster-buttons {
    width: 52px;
}

body.admin .roster-entry.disabled {
    opacity: 0.4;
    transition: opacity 1000ms ease-out;
}

.roster-buttons .button {
    width: 20px;
    height: 20px;
    margin: 15px 20px 0 10px;
    border: 1px solid #111111;
    border-radius: 7px;
    padding: 0;
    text-align: center;
    font: 16px FontAwesome;
    text-shadow: none;
    cursor: pointer;
}

.roster-buttons .button:not(.disabled):hover {
    border-color: #113439;
    box-shadow: 0 0 3px #11cfd4, 0 0 6px #33eff2;
}

.roster-buttons .button.disabled {
    background-color: #333b40;
    box-shadow: 0 0 4px #4f4650;
    color: #444a53;
    cursor: inherit;
}

.roster-button-edit::before {
    content: '\f040';
}

.roster-button-undo::before {
    content: '\f0e2';
}

.roster-button-delete::before {
    content: '\f1f8';
}

.roster-button-save::before {
    content: '\f064';
}

.roster-button-edit {
    background-color: #116862;
    box-shadow: 0 0 4px #11cfd4;
}

.roster-button-delete {
    background-color: #9b2310;
    box-shadow: 0 0 4px #cf5620;
    color: #ef5620;
}

.roster-button-save {
    background-color: #118852;
    box-shadow: 0 0 4px #11dfa4;
    color: #56cf20;
}

.roster-field-roster_type .image-add-new,
.roster-person-character_image .image-add-new {
    cursor: pointer;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    font-size: 50px;
    background: radial-gradient(#102420, #154860);
    color: #10a68e;
    text-shadow: 0 0 1px #000000, 0 0 10px #40c686, 0 0 20px #10fc80;
    text-align: center;
}

.roster-entry input[type="text"] {
    width: calc(100% - 5px);
    background-color: #000;
    border: 2px solid #154860;
    border-radius: 6px;
    color: #10c6de;
    font-family: sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 0 2px #10c6de;
    padding-left: 5px;
    transition: all 400ms ease-out;
    transform: translateX(-7px);
}

@keyframes duplicate {
    0%   { transform: rotate(-55deg) scale(1.0); color: #000000; }
    15%  { transform: rotate(-55deg) scale(1.3); color: #ef2132; }
    30%  { transform: rotate(-55deg) scale(1.0); color: #000000; }
    45%  { transform: rotate(-55deg) scale(1.3); color: #ef2132; }
    60%  { transform: rotate(-55deg) scale(1.0); color: #000000; }
    75%  { transform: rotate(-55deg) scale(1.3); color: #ef2132; }
    90%  { transform: rotate(-55deg) scale(1.0); color: #000000; }
    100% { transform: rotate(-55deg) scale(1.0); color: #ef2132; }
}

.roster-entry .field-text.duplicate {
    color: #ef2132;
    animation: duplicate 1.5s linear;
}

.roster-entry .field-text.duplicate input[type="text"] {
    color: inherit;
}


.roster-entry input[type="text"]:hover {
    box-shadow: 0 0 2px #10f6ff, 0 0 4px #10f6ff;
}
.roster-entry input[type="text"]:focus {
    border-color: #10c6de;
    box-shadow: 0 0 3px #10f6ff;
}

.roster-entry .saved.changed input[type="text"],
.roster-entry .changed input[type="text"] {
    background-color: #106887;
}

.roster-entry .saved input[type="text"] {
    background-color: #104724;
}

.roster-entry .error input[type="text"] {
    background-color: #601710;
}

/*
.roster-entry.faction-aquila,
.search-person.faction-aquila {
    background-color: #112233;
}

.roster-entry.faction-dugo,
.search-person.faction-dugo {
    background-color: #331122;
}

.roster-entry.faction-ekanesh,
.search-person.faction-ekanesh {
    background-color: #113322;
}

.roster-entry.faction-pendzal,
.search-person.faction-pendzal {
    background-color: #2a3311;
}

.roster-entry.faction-sona,
.search-person.faction-sona {
    background-color: #2c2233;
}
*/

.add-popup {
    display: none;
    position: fixed;
    width:500px;
    top: 40px;
    bottom: 40px;
    z-index: 50;
    left: 0;
    right: 0;
    color: #20D6E7;
    background: rgba(40,40,40,0.9);
    border: 2px solid #116466;
    margin: auto;
    padding: 0;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 0 0 0 100vw rgba(0,30,40,0.8);
}

.add-popup.visible {
    display: block;
}

.add-popup .popup-header {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-bottom: 1px solid #116466;
    background: linear-gradient(178deg, #116466, #111111);
    display: flex;
    z-index: 1;
    position: relative;
}

#add-field-popup .popup-header .caption {
    flex: auto;
}

#add-field-popup .popup-header input[type=checkbox] {
    display: none;
}

#add-field-popup .popup-header label {
    flex: initial;
    color: #107687;
    font-size: 90%;
}

#add-field-popup .popup-header label::before {
    content: '\25a2  ';
    line-height: 100%;
}

#add-field-popup .popup-header input:checked + label::before {
    content: '\2714  ';
}

#add-field-popup .popup-header input:checked + label {
    color: #20d6e7;
}

#add-person-popup .popup-header input[type="text"] {
    background-color: transparent;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: inherit;
}

.popup-person-list,
.popup-field-list {
    position: absolute;
    top: 35px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    width: calc(100% - 3px);
    scrollbar-color: #114852 transparent;
    scrollbar-width: thin;
}

#search-person-list {
    margin: 15px 5px 15px 5px;
}

.search-person {
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    border: 0px solid #116466;
    padding: 2px;
    margin: 5px;
    border-radius: 15px;
    height: 20px;
    box-shadow: 0px 0px 4px #10c6de;
    min-width: 400px;
    background-color: #112244;
    cursor: pointer;
    overflow: hidden;
}

.search-person.selected:not(.exists) {
    display: grid;
}

#search-person-list.few-items .search-person {
    height: 60px;
}

#search-person-list.few-items .search-person {
    grid-template-columns: 50px auto;
}

.search-person-faction,
.search-person-rank,
.search-person-character_name {
    margin-left: 5px;
}

.search-person-character_image,
.search-person-faction,
.search-person-rank {
    display: none;
}

#search-person-list.few-items .search-person-character_image,
#search-person-list.few-items .search-person-faction,
#search-person-list.few-items .search-person-rank {
    display: block;
}

#search-person-list.few-items .search-person {
    height: 70px;
}

.search-person-character_image {
    padding: 0px;
    grid-row: 1/1000;
    grid-column: 1;
    max-width: 50px;
    max-height: 60px;
}

.search-person-character_image img {
    box-shadow: 0px 0px 3px #10c6ae;
    border: 1px solid #106446;
    border-radius: 10px;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
}

.search-field-new,
.search-field {
    border: 0px solid #116466;
    padding: 2px 8px;
    margin: 6px;
    border-radius: 15px;
    height: 20px;
    text-shadow: 0px 0px 1px #000, 0px 0px 4px #10c6de;
    box-shadow: 0px 0px 4px #10c6de;
    min-width: 400px;
    background-color: #112244;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.search-field.exists {
    opacity: 0.3;
    cursor: initial;
}

.search-field.selected {
    background-color: #115456;
    color: #d0f8ff;
    box-shadow: 0 0 4px #10f6ff;
}

.search-field:not(.exists):hover {
    background-color: #11a6ae;
    color: #d0f8ff;
    box-shadow: 0 0 4px #10f6ff;
}

.search-field-default-skill[data-fieldname=""],
.search-field-default-interest[data-fieldname=""] {
    display: none;
}

.search-field-add {
    padding: 2px 2px;
}

.search-field-new-button {
    flex: initial;
    border: 1px solid #116466;
    border-radius: 12px;
    padding: 0px 5px;
    background-color: #116466;
    margin-right: 10px;
}

.search-field input[type="text"] {
    flex: auto;
    border: 0;
    color: inherit;
    background-color: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: pointer;
}

.search-field-edit {
    flex: initial;
    width: 1em;
    font: 100% FontAwesome;
}

.search-field-new input[type="text"] {
    flex: auto;
    border: 0;
    color: inherit;
    background-color: inherit;
    font-size: 100%;
    font-family: inherit;
}

::selection {
    background-color: #107897;
    color: #40f3ff;
}

@media only screen and (max-width: 1000px) {
    #headerframe {
        z-index: 10;
        position: fixed;
    }
    #header {    
        font-size: 200%;
        width: 100vw;
        margin: 0;
    }
    #main-body {
        width: 100vw;
        position: static;
        overflow: visible;
        border: 0;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    #footerframe {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    #main-body {
        width: 1320px;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        font-size: 5vw;
    }
    #main-body {
        margin-top: 10vw;
    }
    .roster-entry {
        min-width: 80vw;
        font-size: 3vw;
        min-height: 20vw;
        grid-template-columns: 22vw auto;
        border-radius: 5vw;
    }
    .roster-entry .roster-person-character_image {
        max-width: 20vw;
        max-height: 24vw;
    }
    .roster-entry .roster-person-character_image img {
        border-radius: 4vw;
    }
    .roster-entry .roster-person-character_image .image-add-new {
        border-radius: 4vw;
        width: 15vw;
        height: 15vw;
        font-size: 12vw;
    }
    .add-popup {
        width:90vw;
        top: 1vw;
        bottom: 1vw;
    }
    .roster-entry > .roster-field-roster_type {
        width: 20vw;
        height: 24vw;
    }
    .roster-field-roster_type .field-box {
        border-radius: 4vw;
    }
    .field-box .field-text {
        font-size: 3.4vw;
    }
    .field-box .field-text input[type="text"] {
        font-size: 3vw;
        padding: 0;
    }
    .menu-content .menu-item {
        font-size: 4vw;
    }
    .menu-content .menu-item.header-menu-admin {
        font-size: 3vw;
    }
    .roster-buttons .button {
        width: 4vw;
        height: 4vw;
        font-size: 3.5vw;
        margin: 3vw 4vw 0 3vw;
    }
    .roster-entry > .roster-buttons {
    }
    .roster-entry:not(.editing):not(.disabled):hover > .roster-buttons {
        width: 12vw;
    }
    body.admin .roster-entry:not(.disabled):hover > .roster-buttons {
        width: 12vw;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #114852;
}
