@font-face {
    font-family: AquilaEthnocentric;
    src: url('/font/AquilaEthnocentric.ttf') format('truetype');
}

@font-face {
    font-family: FontAwesome;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0');
}

.aquilafont {
    font-family: AquilaEthnocentric;
}


body { 
    font-family: sans-serif;
    background-color: #2C3531;
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#headerframe {
    flex: initial;
    width: 100%;
    min-width: 450px;
    border-bottom: 1px solid #116466;
    background: linear-gradient(178deg, #116466, #111111);
    margin-bottom: 5px;
    box-shadow: 0 0 5px #111;
}

#header {    
    display: flex;
    flex-flow: row;
    width: 900px;
    font-size: 250%;
    font-weight: bold;
    color: #D1E8E2;
    margin: auto; 
    text-shadow: 0 0 1px #000, 0 0 5px #D14042, 0 0 10px #ffffff;
}

#header .header-text {
    margin: auto 10px;
    flex: auto;
}

#header .header-button {
    flex: initial;
    font-family: FontAwesome;
    font-size: 70%;
    font-weight: bold;
    color: #D1E8E2;
    text-shadow: 0 0 1px #000, 0 0 5px #D14042, 0 0 10px #ffffff;
    width: 1.2em;
    margin: auto 10px;
    text-align: center;
    vertical-align: center;
    background: linear-gradient(140deg, #002329, #115559);
    border: 2px solid #112523;
    border-radius: 10px;
    box-shadow: 0 0 5px #412025;
    z-index: 2;
}

#headermenu .menu-content {
    top: calc(100% + 10px);
    right: 0px;
    background: linear-gradient(120deg, #002329, #115559);
    border: 2px solid #112523;
    box-shadow: 0 0 2px #000000, 0 0 5px #115559;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}

.menu-button {
    cursor: pointer;
    position: relative;
}

.menu-button .menu-content {
    display: grid;
    position: absolute;
    z-index: 5;
    transform: scale(0);
    opacity: 0;
    transition: opacity 400ms ease-out, transform 400ms ease 400ms;
}

.menu-button:hover .menu-content,
.menu-button.visible .menu-content {
    opacity: 0.9;
    transform: none;
    transition: opacity 400ms ease-out;
}

.menu-content a {
    display: block;
    font-size: 20px;
    font-family: AquilaEthnocentric;
    font-weight: bold;
    text-decoration: none;
    color: #D1E8E2;
    width: 100%;
    text-align: left;
    margin: 0 2px;
    padding: 5px 10px;
    box-shadow: 0 1px 4px #111111;
    white-space: nowrap;
    transition: all 400ms ease-out;
}

.menu-content a:hover {
        background-color: rgba(200, 250, 255, 0.3);
}

.menu-content a.header-menu-admin {
    margin-top: 20px;
    font-size: 50%;
    color: #A1A8A2;
}

#footerframe {
    flex: initial;
    width: 100%;
    min-width: 450px;
    border-top: 1px solid #116466;
    margin-top: 10px;
    background: linear-gradient(-1deg, #116466, #112122, #111111);
    box-shadow: 0 0 5px #111;
}

#footer_logo {
    float: right;
    padding: 0 5px 0 15px;
}

#footer_tagline {
    width: 900px;
    margin: 10px auto;
    font-size: 14px;
    color: #D1E8E2;
    text-align: right;
}

#footer_corp {
    width: 900px;
    margin: 10px auto;
    color: #D1E8E2;
    text-align: right;
    font-size: 10px;
}

@keyframes spinlogo {
    0% { transform: rotateY(90deg); }
    100% { transform: rotateY(-90deg);}
}

#footer_logo {
    padding: 0 20px;
    perspective: 200px;
    overflow: hidden;
}

#footer_logo img {
    animation: spinlogo 3s linear infinite;
}

#main-body {
    width:900px;
    flex: auto;
    position: relative;
    color: #D9B08C;
    background: #262626;
    border: 2px solid #116466;
    margin: auto;
    padding: 0;
    overflow: hidden; 
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px #111;
}


#roster-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.roster-person {
    flex: initial;
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 110px auto;
    border: 1px solid #116466;
    padding: 5px;
    margin: 8px;
    border-radius: 25px;
    height: 120px;
    box-shadow: 0px 0px 8px #10c6de;
    min-width: 400px;
    background-color: #112244;
    overflow: hidden;
}

.roster-person.deleted {
    opacity: 0.3;
    background-color: #64140c;
}

.roster-person > div {
    color: #10c6de;
    text-shadow: 0px 0px 1px #000;
    text-shadow: 0px 0px 4px #10c6de;
    grid-column: 2;
}

.roster-person > .roster-person-character_image {
    padding: 0px;
    grid-row: 1/10;
    grid-column: 1;
    max-width: 100px;
    max-height: 120px;
}

.roster-person-buttons .button {
    width: 20px;
    height: 20px;
    margin: 20px 20px 0 10px;
    border: 1px solid #111111;
    border-radius: 7px;
    padding: auto;
    text-align: center;
    font: 16px FontAwesome;
    text-shadow: none;
    cursor: pointer;
}

.roster-person-button-edit::before {
    content: '\f040';
}

.roster-person-button-delete::before {
    content: '\f1f8';
}

.roster-person-button-edit {
    background-color: #116862;
    box-shadow: 0 0 2px #11cfd4;
}

.roster-person-button-delete {
    background-color: #9b2310;
    box-shadow: 0 0 2px #cf5620;
    color: #ef5620;
}
.roster-person > .roster-person-buttons {
    width: 0px;
    background: linear-gradient(0deg, #116862, #111111);
    border-left: 2px solid #116862;
    position: absolute;
    right: -2px;
    top: 0px;
    bottom: 0px;
    transition: width 400ms ease-out;
    overflow: hidden;
}

.roster-person:not(.editing):hover > .roster-person-buttons {
    width: 52px;
}

.roster-person-character_image img {
    box-shadow: 0px 0px 3px #10c6ae;
    border: 1px solid #106446;
    border-radius: 20px;
    margin: 0px;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.roster-person-character_image .image-add-new {
    cursor: pointer;
    box-shadow: 0px 0px 3px #10c6ae;
    border: 1px solid #106446;
    border-radius: 20px;
    margin: 0px;
    display: block;
    height: 80px;
    width: 80px;
    padding: 10px;
    font-size: 50px;
    background: radial-gradient(#102420, #154860);
    color: #10a68e;
    text-shadow: 0 0 1px #000000, 0 0 10px #40c686, 0 0 20px #10fc80;
    text-align: center;
}

.roster-person input {
    width: 100%;
    background-color: #000;
    border: 2px solid #154860;
    border-radius: 6px;
    color: #10c6de;
    font-family: sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 0 2px #10c6de;
    padding-left: 5px;
    transition: all 400ms ease-out;
    transform: translateX(-7px);
}

.roster-person input:hover {
    box-shadow: 0 0 2px #10f6ff, 0 0 4px #10f6ff;
}
.roster-person input:focus {
    border-color: #10c6de;
    box-shadow: 0 0 3px #10f6ff;
}

.roster-person .saved.changed input,
.roster-person .changed input {
    background-color: #106887;
}

.roster-person .saved input {
    background-color: #104724;
}

.roster-person .error input {
    background-color: #601710;
}


#add-person-popup {
    display: none;
    position: absolute;
    width:500px;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    color: #D9B08C;
    background: rgba(40,40,40,0.9);
    border: 2px solid #116466;
    margin: auto;
    padding: 0;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 0 0 5px #111;
}

#add-person-popup.visible {
    display: block;
}

#add-person-popup .popup-header {
    font-size: 20px;
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #116466;
    background: linear-gradient(178deg, #116466, #111111);
}

#add-person-popup .popup-header input {
    background-color: transparent;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: inherit;
}

.popup-person-list {
    position: absolute;
    top: 30px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

#search-person-list {
    margin: 10px 2px 5px 5px;
}

.search-person {
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    border: 0px solid #116466;
    padding: 2px;
    margin: 5px;
    border-radius: 15px;
    height: 20px;
    box-shadow: 0px 0px 4px #10c6de;
    min-width: 400px;
    background-color: #112244;
    cursor: pointer;
    overflow: hidden;
}

.search-person.selected:not(.exists) {
    display: grid;
}

#search-person-list.few-items .search-person {
    height: 60px;
}

#search-person-list.few-items .search-person {
    grid-template-columns: 50px auto;
}

.search-person-faction,
.search-person-rank,
.search-person-character_name {
    margin-left: 5px;
}

.search-person-character_image,
.search-person-faction,
.search-person-rank {
    display: none;
}

#search-person-list.few-items .search-person-character_image,
#search-person-list.few-items .search-person-faction,
#search-person-list.few-items .search-person-rank {
    display: block;
}

#search-person-list.few-items .search-person {
    height: 70px;
}

.search-person-character_image {
    padding: 0px;
    grid-row: 1/10;
    grid-column: 1;
    max-width: 50px;
    max-height: 60px;
}

.search-person-character_image img {
    box-shadow: 0px 0px 3px #10c6ae;
    border: 1px solid #106446;
    border-radius: 10px;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
}

::selection {
    background-color: #107897;
    color: #40f3ff;
}

@media only screen and (max-width: 1000px) {
    #headerframe {
        z-index: 1;
        position: fixed;
    }
    #header {    
        font-size: 200%;
        width: 100%;
        min-width: 450px;
    }
    #main-body {
        width: 100%;
        min-width: 450px;
        position: static;
        overflow: visible;
        border: 0;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    #footerframe {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    #main-body {
        width: 1320px;
    }
}
